<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ehealthhistory">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_image_trans_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_image_trans_original"
        android:supportsRtl="true"
        android:theme="@style/Theme.EHealthHistory"
        android:fullBackupContent="@xml/backup_descriptor"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <!-- Aqui ponemos la actividad principal -->
        <activity android:name=".UserInterface.PantallaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aqui las demas actividades -->
        <activity android:name=".UserInterface.login.MainLogIn"/>
        <activity android:name=".UserInterface.MainRoles"/>
            <activity android:name=".UserInterface.Foootballer.MainFootballer"/>
                    <activity android:name=".UserInterface.Foootballer.UIFootballerContact"/>
                    <activity android:name=".UserInterface.Foootballer.UIFootballerHealthCares"/>
                    <activity android:name=".UserInterface.Foootballer.UIFootballerFavsCareTeams"/>

            <activity android:name=".UserInterface.CareTeam.MainCareTeam"/>
                <activity android:name=".UserInterface.HealthCareService.MainHealthCareService"/>

            <activity android:name=".UserInterface.Club.MainClub"/>
                <activity android:name=".UserInterface.Club.UIAddNewCareTeam"/>


    </application>

</manifest>